@inherits Blazor.Fluxor.Components.FluxorComponent
@using FlightFinder.Client.Store.ParentChildSample
@inject IState<Client.Store.ParentChildSample.ParentStore> AppState
@inject IDispatcher Dispatcher


<div class="container bg-success">
    <div class="row">
        <h3>ChildGreen</h3>
    </div>
    <div class="row">
        <div class="col-6">Red Value</div>
        <div class="col-6">@ParentData.RedValue</div>
    </div>
    <br/>
    <div class="row">
        <div class="col-6">
            <input type="text" value="@Name" @onchange="ChangeName" />
        </div>
        <div class="col-6">
            <input type="checkbox" @onchange="CheckState" />
        </div>
    </div>
</div>

@code {
    [Parameter] public ParentData ParentData { get; set; }
    [Parameter] public string Name { get; set; }
    
    public void CheckState()
    {
        Dispatcher.Dispatch(new ChildGreenCheckedAction());
    }

    public void ChangeName(ChangeEventArgs arg)
    {
        Dispatcher.Dispatch(new ChildGreenNameChangedAction(arg.Value.ToString()));
    }
}
