@inherits LayoutComponentBase
@inject IStore Store
@inject IState<Client.Store.AppState> AppState

@Store.Initialize()

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">    
    <div class="content">
        @Body
    </div>
</div>
