@page "/parent"
@using FlightFinder.Client.Components.ParentChildSample


<div class="container">
    <div class="row">
        <h3>PageParent</h3>
    </div>
    <div class="row">
        <Parent></Parent>
    </div>

</div>

@code {

}
